body {
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}

.Title {
    font-size: 59px;
    margin: 0px 32px;
    font-family: 'Dancing Script', cursive;
    color: white;
}

.earlier {
    color: white;
    width: 44%;
    margin: 39px auto;
    text-align: center;
}

.c1 {
    font-size: 47px;
}

header::before {
    content: "";
    background: url('campaign-creators-e6n7uoEnYbA-unsplash.jpg') no-repeat center center/ cover;
    opacity: 0.15;
    position: absolute;
    background-position-y: -141.5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 245px;
    max-width: 100%;
    z-index: -1;
}

.first {
    display: flex;
    flex-direction: row;
}

.navBar {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.navItems {
    display: flex;
    font-size: 20px;
    color: white;
    text-shadow: 4px 4px black;
}

.navItems li {
    list-style: none;
    margin: 0px 14px;
    transition: font-size 1s;
}

.navItems li:hover {
    font-size: 25px;
}

.people {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    /* background-color: #3f4141f0; */
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.peopleText {
    font-size: 41px;
    font-weight: 200;
    font-family: monospace;
    margin: 9px;
    color: #869292;
}

.inputText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4px;
    width: 50%;
    align-self: center;
    font-size: 20px;
    font-family: revert;
    align-content: space-between;
    padding: 0px;
    font-family: inherit;
    padding-top: -3px;
    color: white;
}

#name,
#contact {
    border-radius: 10px;
    margin-right: 2vw;
    /* background-color: #6d7274; */
    border-color: #818889;
    height: 33px;
    width: 171px;
}

#submit1 {
    width: 80px;
    height: 35px;
    align-self: center;
    margin: 12px;
    /* background-color: #737e7e; */
    transition: all 0.5s;
    border-radius: 10px;
}

#submit1:hover {
    background-color: #869292;
    font-size: 15px;
}

.Name {
    display: inline-block;
}

.ContactNumber {
    display: inline-block;
}

.valuePerson {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.pInsert {
    width: 60%;
    text-align: center;
}

.nInsert {
    width: 40%;
}

.name1,
.contact1 {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.valuePerson {
    color: white;
    /* position: relative; */
    border-radius: 10px;
    display: flex;
    width: 68%;
    margin: 4px auto;
    height: 42px;
    justify-content: space-evenly;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.pInsert,
.nInsert {
    margin: 0px;
}

.listPeople {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 25vw;  */
    width: 60%;
    margin: auto;
    flex-wrap: wrap;

}

.middle {
    background-color: #524b4b5c;
}

.middle1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    /* background-color: #3f4141f0; */
    border-radius: 20px;
}

.catText {
    font-size: 41px;
    font-weight: 200;
    font-family: monospace;
    margin: 9px;
    color: #869292;
}

.btn2 {
    width: 83px;
    height: 38px;
    align-self: center;
    margin: 12px;
    /* background-color: #737e7e; */
    border-radius: 10px;
    transition: all 1s;
}

.btn2:hover {
    background-color: #869292;
    font-size: 15px;
}

#inpItem {
    width: 156px;
    height: 31px;
    align-self: center;
    margin: 12px;
    /* background-color: #737e7e; */
    border-radius: 10px;
}

.ite7 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    color: #869292;
    margin-top: 2px;
}

.another {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.pure {
    /* background-color: #869292; */
    height: 33px;
    /* width: 119px; */
    border: 2px solid white;
    color: #fff5f5;
    font-size: 26px;
    text-align: center;
    border-radius: 10px;
    font-family: cursive;
    margin: 10px;
    padding: 6px;
}

.upper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    /* background-color: #3f4141f0; */
    border-radius: 20px;
}

.upText {
    font-size: 40px;
    font-weight: 200;
    font-family: monospace;
    margin: 9px;
    color: #869292;
}

.s1s2 {
    color: white;
    display: flex;
    justify-content: center;
}

#perNames,
#itemNames {
    background-color: #869292;
    border-radius: 5px;
    height: 32px;
}

#itemNames {
    background-color: #869292;
    border-radius: 10px;
}

.upperBelow {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: white;
}

.contentBox {
    width: 48%;
    margin: 5px auto;
    border: 2px solid rgb(236, 231, 231);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.footText {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #818889; */
}

.foot {
    width: 100%;
    height: 100px;
    font-size: 20px;
    /* background-color: #818889; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:1157px) {
    .valuePerson {
        width: 93%;
    }
}

@media only screen and (max-width: 1174px) {
    header::before {
        content: "";
        background: url('campaign-creators-e6n7uoEnYbA-unsplash.jpg') no-repeat center center/ cover;
        width: 100%;
        height: 312px;

    }
}

@media only screen and (max-width: 920px) {
    .first {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width:762px) {
    .navBar {
        flex-direction: column;
        align-items: center;
    }

    .navItems {
        padding-left: 0px;
        display: flex;
        font-size: 20px;
        color: white;
        text-shadow: 4px 4px black;
        margin: auto;
    }

    .inputText {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header::before {
        content: "";
        background: url('campaign-creators-e6n7uoEnYbA-unsplash.jpg') no-repeat center center/ cover;
        width: 100%;
        height: 327px;

    }

    .earlier {
        width: 70%;
    }

    .contentBox {
        width: 86%;
    }

}

@media only screen and (max-width:420px) {
    header::before {
        content: "";
        background: url('campaign-creators-e6n7uoEnYbA-unsplash.jpg') no-repeat center center/ cover;
        /* width: 430px; */
        height: 340px;

    }
}